/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----Custom Styling----*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(242, 241, 241);
}

.header {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(73, 50, 50);
  text-transform: capitalize;
  margin-top: 3.5rem;
  text-decoration: underline;
  padding: 1rem;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.tags li {
  margin-right: 1.5rem;
  color: goldenrod;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.tags li:hover {
  background-color: rgb(195, 192, 192);
  color: #fff;
  border: 1px solid rgb(227, 209, 48);
  border-radius: 1.5rem;
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 3rem auto;
}
.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu li {
  border: 1px solid black;
  padding: 1.25rem;
  margin: 1rem 0;
  box-shadow: 12px 6px 20px #dec6c6;
  border-radius: 1rem;
}
.menu li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.flex-48 {
  flex: 0 1 48%;
}
h3 {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 600;
  color: rgb(75, 79, 17);
}

p {
  font-size: 1.2rem;
  color: rgba(5, 1, 1, 0.915);
  padding: 1rem 0;
}
